<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestbook">

	<select id="list"  resultType="com.ict.edu03.vo.GuestBookVO">
		select * from guestbook
	
	</select>
	
	<insert id="insert" parameterType="com.ict.edu03.vo.GuestBookVO">
	insert into guestbook(gb_name, gb_subject, gb_content, gb_email, gb_f_name, gb_pw, gb_regdate)
	values(#{gb_name}, #{gb_subject}, #{gb_content},  #{gb_email}, #{gb_f_name}, #{gb_pw}, NOW() )
	
	
	</insert>
	
	
	<select id="detail" parameterType="com.ict.edu03.vo.GuestBookVO" resultType="com.ict.edu03.vo.GuestBookVO">
		select * from guestbook where gb_idx = #{gb_idx}
	
	
	</select>
	
	<delete id="delete" parameterType="com.ict.edu03.vo.GuestBookVO">
	
		delete from guestbook where gb_idx = #{gb_idx}
	
	</delete>
	
	<update id="update" parameterType="com.ict.edu03.vo.GuestBookVO">
	
	
		update guestbook 
		set  gb_name=#{gb_name}, gb_subject=#{gb_subject}, gb_content=#{gb_content}, 
		gb_email=#{gb_email}, gb_f_name =#{gb_f_name}
		where gb_idx = #{gb_idx}
	
	</update>
</mapper>